<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WeMatch.wematch.mapper.TodoMapper">

    <insert id="saveTodo">
        insert into todo_test(todo_id, member_id, todoname, todo_schedule, if_done) values(#{todoId}, #{memberId}, #{todoName}, #{todo_schedule}, false)
    </insert>

    <delete id="deleteTodo">
        delete from todo_test where todo_id=#{todoId}
    </delete>

    <update id="checkTodo">
        update todo_test set if_done = !#{if_done} where todo_id=#{todoId}
    </update>

    <update id="updateTodo">
        update todo_test set todoname=#{todoName} where todo_id=#{todoId}
    </update>

    <select id="findTodoById" resultType="WeMatch.wematch.domain.todo.dto.TodoResponseDto">
        select * from todo_test where todo_id=#{todoId}
    </select>

    <select id="findTodoByIdDate" resultType="WeMatch.wematch.domain.todo.dto.TodoResponseDto">
        select * from todo_test where todo_schedule=#{todo_schedule} and member_id=#{memberId}
    </select>
</mapper>

